<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <app-breadcrump title="Employees">
                <a class="btn btn-success d-none d-sm-inline-block" data-bs-toggle="modal"
                    data-bs-target="#newEmployee">
                    <i class="fa-solid fa-plus"></i>
                    New Employee
                </a>
            </app-breadcrump>
            <!-- Table -->
            <app-table [heads]="['#', 'Full Name', 'Department', 'Date Of Birth', 'UserType', 'Gender', 'Is Active']">
                @for (employee of employees; track employee) {
                <tr>
                    <td>
                        {{ $index + 1 }}
                    </td>
                    <td>
                        {{employee.fullName}}
                    </td>
                    <td>
                        <!-- {{employee.department.name}} -->
                    </td>
                    <td>
                        {{employee.dateOfBirth | date:'dd MMMM yyyy' }}
                    </td>
                    <td>
                        {{employee.userType}}
                    </td>
                    <td>
                        @if (employee.gender === true) {
                            <span class="badge text-bg-success">Man</span>
                        }
                        @else {
                            <span class="badge text-bg-danger">Woman</span>
                        }
                    </td>
                    <td>
                        @if (employee.isActive) {
                        <span class="badge text-bg-success">Working</span>
                        }@else {
                        <span class="badge text-bg-danger">Not Working</span>
                        }
                    </td>
                    <td class="text-end">
                        <button class="btn btn-outline-warning me-1">
                            <i class="fa-solid fa-edit"></i>
                        </button>
                        <button class="btn btn-outline-danger">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
                }
            </app-table>
            <!-- Table -->
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="newEmployee" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <app-input label="Identity Number" name="identityNumber" type="text" ></app-input>
                            <!-- <app-input label="Identity Number" name="identityNumber" type="text" value="123"></app-input> -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <app-input label="First Name" name="firstName" type="text"></app-input>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <app-input label="Last Name" name="lastName" type="text"></app-input>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <app-select name="userType" label="UserType">
                                <option value="Employee" selected="">Employee</option>
                            </app-select>
                        </div>
                    </div>                    
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <app-input label="Date Of Birth" name="dateOfBirth" type="date"></app-input>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">                            
                            <app-select name="bloodType" label="BloodType">
                                <option value="" selected="">Please Select Bood Type</option>
                                <option value="0rh-">0 RH (-)</option>
                                <option value="0rh+">0 RH (+)</option>
                                <option value="arh-">A RH (-)</option>
                                <option value="arh+">A RH (+)</option>
                                <option value="brh-">B RH (-)</option>
                                <option value="brh+">B RH (+)</option>
                                <option value="a+brh-">A+B RH (-)</option>
                                <option value="a+brh+">A+B RH (+)</option>
                            </app-select>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <app-input label="City" name="city" type="text"></app-input>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <app-input label="Town" name="town" type="text"></app-input>
                        </div>
                    </div>                    
                    <div class="col-lg-6">
                        <div class="form-group">
                            <app-select name="specialty" label="Specialty">
                                <option value="Employee" selected="">Asistant</option>
                                <option value="Employee" selected="">Dr</option>
                            </app-select>
                        </div>
                    </div>  
                    <div class="col-lg-12">
                        <div>
                            <app-textarea name="fullAddress" label="Full Address" [rows]="3"></app-textarea>
                            <!-- <app-textarea name="fullAddress" label="Full Address" [rows]="3" value="asdad"></app-textarea> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-success ms-auto" data-bs-dismiss="modal">
                    <i class="fa-solid fa-plus me-1"></i>
                    Create Employee
                </a>
            </div>
        </div>
    </div>
</div>