:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.page-title {
    font-size: x-large;
    font-family: var(--bs-font-monospace);
}

section.departments {
    background-color: rgb(207, 247, 245);
}
section.departments .myHeader{
    position: absolute;
    margin-top: -150px;
    margin-left: -25px;
    box-shadow: #05d46d;
}
.myDepartmentTitle{
    color: rgba(7, 85, 46, 0.671);
    font-weight: bold;
}
.myTextMuted{
    position: absolute;
    margin-bottom: 5px;
    margin-left: -25px;
    color: rgb(31, 110, 55) !important;
    font-weight: bold;
}
.myTextMuted .myMuted{
    float: left;
    color: rgba(19, 211, 19, 0.637) !important;
}
.myTextMuted .myMutedDate{
 position: relative;
 margin-left: 115px;
 float: left;
 color: rgba(99, 230, 121, 0.863) !important;
}

.department {
    border-radius: 15px !important;
    transition: transform 0.5s, box-shadow 0.3s;
}

.department:hover {
    color: #040e09;
    transform: translateY(-10px);
    box-shadow: 5px 10px 10px 10px #4accc8;
}

section.doctors {
    background-color: var(--bs-light);
}

.doctor {
    transition: transform 0.8s, box-shadow 0.5s;
}

.doctor:hover {
    transform: translateY(-15px);
    box-shadow: 5px 15px 5px 15px #4accc8;
}

section.services {
    background-color: var(--bs-gradient);
}


.hc-sercardimg {
    background-color: rgb(4, 66, 22);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 0 auto;
}

.hc-depfirstcard {
    width: auto;
    height: auto;
    text-align: center;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    color: rgba(5, 52, 97, 0.774);
    box-shadow: rgb(1, 27, 27);
    margin: 0 auto;
    border-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(42, 167, 255, 0.6)) 1;
}

.hc-service-card {
    background-color: var(--hc-white-color);
    width: 270px;
    text-align: center;
    padding: 50px 40px 46px 40px;
    border-radius: 10px;
    transition: all 0.5s;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6)) 1;
}

.hc-service-card.img {
    max-width: 100%;
}

.hc-service-card:hover {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

section.services {
    background-color: #E3FFFE;
}

.service {
    background-color: white;
    border: 1px solid #0768e7af;
    border-radius: 15px;
    transition: transform 0.5s, box-shadow 0.3s;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px 10px #33716F;
}

.row-cards-service {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

section.sss {
    background-color: #aeeccd;
}

section.carrousel {
    background-color: #88f0bc;
}

.sliderBackground {
    background-color: #75f5b5;
    border: 1px solid #0768e7af;
    transition: transform 0.5s, box-shadow 0.3s;
}

.sliderBackground:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px 10px #043836;
}


section.announcement {
    background-color: #c2f3db;
}

.publishDate {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-height: 60px;
    color: #135805;
}

.pagination {
    justify-content: center;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 5px;
    border-radius: 5px;
    background-color: #1b517c;
}

.pagination .page-link {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(175, 180, 180);
    background-color: transparent;
}


.pagination .page-link:hover {
    color: rgb(1, 24, 24);
}