<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
          <div class="col-lg-auto ms-lg-auto">
            <ul class="list-inline list-inline-dots mb-0  fw-bold">
              <li class="list-inline-item">
                <a href="https://github.com/NlabsGlobalFullStack/CleanEHospitalApp" target="_blank" class="link-secondary-social btn btn-outline-secondary">
                  <i class="fa-brands fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/turkmvc/" target="_blank" class="link-secondary-social btn btn-outline-primary" rel="noopener">
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item fw-bold"  style="font-size: 15px;">
                <a href="." class="link-secondary-footer">NLabs</a>. Copyright &copy; 2024 - {{currentYear}} | All rights reserved.
              </li>
            </ul>
          </div>
        </div>
      </div>
  </footer>