<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <!-- Page pre-title -->
          <div class="page-pretitle" style="color: white;">
            Overview
              </div>
              <h2 class="page-title">
                Room List
              </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
              <div class="btn-list">          
                <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#createForm">
                  <i class="fa-solid fa-plus"></i>
                  Create Room
                </a>
                <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#createForm" aria-label="Create new Faq">
                  <i class="fa-solid fa-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Rooms</h3>
            </div>
            <div class="table-responsive">
              <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Number</th>
                    <th>Department</th>
                    <th>Room Type</th>
                    <th>Capacity</th>
                    <th>Is Occupied</th>
                    <th>Is Out Of Service</th>
                    <th>Created Date</th>
                    <th>Is Deleted</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @if (rooms.length === 0) {
                    <tr>
                      <td colspan="6">rooms not found</td>
                    </tr>
                  }
                  @if(rooms.length > 0) {
                    @for (item of rooms; track item) {
                      <tr>
                        <td>{{ $index + 1}}</td>
                        <td>{{ item.number }}</td>
                        <td>{{ item.department }}</td>
                        <td>{{ item.roomType!.name }}</td>
                        <td>{{ item.capacity }}</td>
                        <td>
                          @if(item.isOccupied) {                            
                          <span class="badge bg-success me-1">Yes</span>
                          }
                          @else {                                
                            <span class="badge bg-danger me-1">No</span>
                          }
                        </td>
                        <td>
                          @if(item.isOutOfService) {                            
                          <span class="badge bg-success me-1">Yes</span>
                          }
                          @else {                                
                            <span class="badge bg-danger me-1">No</span>
                          }
                        </td>
                        <td>{{ item.createdDate | date: 'dd MMMM yyyy HH:mm' }}</td>
                        <td>
                          @if(item.isDeleted) {                            
                          <span class="badge bg-danger me-1">Yes</span>
                          }
                          @else {                                
                            <span class="badge bg-success me-1">No</span>
                          }
                        </td>
                        <td class="text-end">
                          <button class="btn btn-outline-warning me-1" data-bs-toggle="modal" data-bs-target="#updateForm" (click)="get(item)">
                            <i class="fa-solid fa-edit"></i>
                          </button>
                          <button class="btn btn-outline-danger" (click)="deleteById(item.id)">
                            <i class="fa-solid fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    }
                  }
                </tbody>
              </table>
            </div>
            <div class="card-footer d-flex align-items-center">
              <p class="m-0 text-muted">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>
              <ul class="pagination m-0 ms-auto">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                    <i class="fa-solid fa-chevron-left"></i>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fa-solid fa-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Form -->
<div class="modal modal-blur fade" id="createForm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Room Form</h5>
        <button type="button" #createModalCloseBtn class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form formValidate #createForm="ngForm" autocomplete="off" (ngSubmit)="create(createForm)">
        <div class="modal-body">
          <div class="row">
            <div class="mb-3">
              <label class="form-label">Room Number</label>
              <input type="text" required minlength="3" placeholder="Room Number" class="form-control" name="number" [(ngModel)]="createModel.number">
            </div>   
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div>
                <label class="form-label">Department</label>
                <select [(ngModel)]="createModel.departmentId" name="departmentId" class="form-control">
                  <option value="">Please make your choice!</option>
                  @for (department of departments; track department) {
                      <option value="{{department.id}}">{{department.name}}</option>
                  }
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <label class="form-label">Room Type</label>
                <select [(ngModel)]="createModel.roomTypeValue" name="roomTypeValue" class="form-control">
                  <option value="0">Please make your choice!</option>
                  <option value="1">Patient Room</option>
                  <option value="2">Operating Room</option>
                  <option value="3">Intensive Care Room</option>
                  <option value="4">Emergency Service Room</option>
                  <option value="5">Other Room</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="md-3">
              <label class="form-label">Room Capacity</label>
              <input type="number" required minlength="1" placeholder="Room Capacity" class="form-control" name="capacity" [(ngModel)]="createModel.capacity">
            </div>
          </div>
          <div class="row">
            <div class="md-3">
              <div class="col-12">
                <div class="row">
                  <div class="col-lg-6">
                    <label class="form-label">Room Is Occupied</label>
                      <label class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="createModel.isOccupied" (click)="checkIsOccupied()" name="isOccupied">
                        <span class="form-check-label">
                          {{ createModel.isOccupied ? 'Yes' : 'No' }}
                        </span>
                      </label>
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label">Room Is Out Off Service</label>
                    <label class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="createModel.isOutOfService" (click)="checkIsOutOfService()" name="isOutOfService">
                      <span class="form-check-label">
                        {{ createModel.isOutOfService ? 'Yes' : 'No' }}
                      </span>
                    </label>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
            <i class="fa-solid fa-plus me-1"></i>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Add Form -->

<!-- Update Form -->
<div class="modal modal-blur fade" id="updateForm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Room Form</h5>
        <button type="button" #updateModalCloseBtn class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form formValidate #updateForm="ngForm" autocomplete="off" (ngSubmit)="update(updateForm)">
        <div class="modal-body">
          <div class="row">
            <div class="mb-3">
              <label class="form-label">Room Number</label>
              <input type="text" required minlength="3"  placeholder="Room Number" class="form-control" [(ngModel)]="updateModel.number" name="updateNumber">
            </div>   
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div>
                <label class="form-label">Department</label>
                <select [(ngModel)]="updateModel.departmentId" name="updateDepartmentId" class="form-control">
                  <option value="">Please make your choice!</option>
                  @for (department of departments; track department) {
                      <option value="{{department.id}}">{{department.name}}</option>
                  }
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div>
                <label class="form-label">Room Type</label>
                <select [(ngModel)]="updateModel.roomTypeValue" name="updateRoomTypeValue" class="form-control">
                  <!-- <option [value]="updateModel.roomTypeValue">{{ updateModel.roomType.name }}</option> -->
                  <option [value]="1">Patient Room</option>
                  <option [value]="2">Operating Room</option>
                  <option [value]="3">Intensive Care Room</option>
                  <option [value]="4">Emergency Service Room</option>
                  <option [value]="5">Other Room</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="md-3">
              <label class="form-label">Room Capacity</label>
              <input type="number" required minlength="1" placeholder="Room Capacity" class="form-control" name="capacity" [(ngModel)]="updateModel.capacity">
            </div>
          </div>
          <div class="row">
            <div class="md-3">
              <div class="col-12">
                <div class="row">
                  <div class="col-lg-6">
                    <label class="form-label">Room Is Occupied</label>
                      <label class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="updateModel.isOccupied" (click)="checkIsOccupied()" name="updateIsOccupied">
                        <span class="form-check-label">
                          {{ updateModel.isOccupied ? 'Yes' : 'No' }}
                        </span>
                      </label>
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label">Room Is Out Off Service</label>
                    <label class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="updateModel.isOutOfService" (click)="checkIsOutOfService()" name="updateIsOutOfService">
                      <span class="form-check-label">
                        {{ updateModel.isOutOfService ? 'Yes' : 'No' }}
                      </span>
                    </label>
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
            <i class="fa-solid fa-plus me-1"></i>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Update Form -->
