<div class="myFooter">
  <footer class="footer flex footer-dark d-print-none" data-bs-theme="dark">
    <div class="container-xl">
      <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto">
          <ul class="list-inline list-inline-dots mb-0  fw-bold">
            <li class="list-inline-item">
              <a href="https://github.com/NlabsGlobalFullStack/CleanEHospitalApp" target="_blank" class="link-secondary-social btn btn-outline-secondary">
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/turkmvc/" target="_blank" class="link-secondary-social btn btn-outline-primary" rel="noopener">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item fw-bold"  style="font-size: 15px;">
              <a href="." class="link-secondary-footer">NLabs</a>. Copyright &copy; 2024 - {{currentYear}} | All rights reserved.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  
  <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2" routerLink="">Home</li>
            <li class="nav-item mb-2" routerLink="">Features</li>
            <li class="nav-item mb-2" routerLink="">Pricing</li>
            <li class="nav-item mb-2" routerLink="">FAQs</li>
            <li class="nav-item mb-2" routerLink="">About</li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">            
            <li class="nav-item mb-2" routerLink="">Home</li>
            <li class="nav-item mb-2" routerLink="">Features</li>
            <li class="nav-item mb-2" routerLink="">Pricing</li>
            <li class="nav-item mb-2" routerLink="">FAQs</li>
            <li class="nav-item mb-2" routerLink="">About</li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2" routerLink="">Home</li>
            <li class="nav-item mb-2" routerLink="">Features</li>
            <li class="nav-item mb-2" routerLink="">Pricing</li>
            <li class="nav-item mb-2" routerLink="">FAQs</li>
            <li class="nav-item mb-2" routerLink="">About</li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </footer>
  </div>
</div>