<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <app-breadcrump title="Admin Dashboard"></app-breadcrump>
      
      <!-- Cards -->
      <div class="col-12">
        <div class="row row-cards">
          <!-- Card -->
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-green text-white avatar">
                      <i class="fa-solid fa-dollar"></i>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      132 Satış
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-green text-white avatar">
                      <i class="fa-solid fa-dollar"></i>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      132 Satış
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-green text-white avatar">
                      <i class="fa-solid fa-dollar"></i>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      132 Satış
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-green text-white avatar">
                      <i class="fa-solid fa-dollar"></i>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      132 Satış
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
          
        </div>
      </div>
      <!-- Cards -->
      
    

      
      <!-- Table -->
      <app-table [heads]="['Invoice Subject', 'Client', 'VAT No.', 'Created', 'Status', 'Price']">        
        <tr>
          <td>
            <span class="flag flag-country-us"></span>
            Carlson Limited
          </td>
          <td>
            87956621
          </td>
          <td>
            15 Dec 2017
          </td>
          <td>
            <span class="badge bg-success me-1"></span> Paid
          </td>
          <td>$887</td>
          <td class="text-end">
            <button class="btn btn-outline-warning me-1">
              <i class="fa-solid fa-edit"></i>
            </button>
            <button class="btn btn-outline-danger">
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </app-table>      
      <!-- Table -->
    </div>
  </div>
</div>